<!DOCTYPE html>
<html lang="en">

<head>
  <style type="text/css">
 body {
  background-image: url('../images/background.jpg');
  background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
 }
</style>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Windows XP</title>
  <link rel="stylesheet" href="/css/style.css"></link>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="/js/clippy/build/clippy.css" media="all">
</head>

<body>
    <div class="bg-danger col-sm-2">
      <a href="/minesweeper" class="h5 text-light">minesweeper</a>
    </div>
    <div class="bg-success col-sm-2">
      <a href="/snake" class="h5 text-light">Snake</a>
    </div>
    <div class="bg-danger col-sm-2">
      <a href="/anothergame" class="h5 text-light">anothergame</a>
    </div>
  {{#if logged_in}}
  <h1>you're logged in %%%$#^@$</h1>
  {{/if}}
  <div class ="bg-primary fixed-bottom d-flex justify-content-start">
    <a href="/" class ="bg-success px-2 text-decoration-none rounded-right text-light" >Home</a>
  </div>
  <main>
      {{{body}}}
  </main>
</body>
</html>