<!DOCTYPE html>
<html lang="en">

<head>
  <style type="text/css">
 body {
  background-image: url('../images/background.jpg');
  background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
 }
</style>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Windows XP</title>
  <link rel="stylesheet" type="text/css" href="clippy.css" media="all">
  <link rel="stylesheet" href="/css/style.css"></link>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>
  <div class ="bg-primary fixed-bottom d-flex justify-content-start">
    <a href="/" class ="bg-success px-2 text-decoration-none rounded-right text-light" >Home</a>
  </div>
    <main>

      {{{body}}}
    
  </main>
</body>
</html>