
{{#if logged_in}}
<div class=" leaderboard py-3">
  <h3 class="lb-title py-2">Leaderboard</h3>
    {{#each scoresData as |data|}}
    <div class="d-flex flex-row justify-content-between align-items-center pb-2 mt-2 mx-4 border-bottom border-secondary">
      {{addOne @index}}. <span class="lb-user">{{username}}</span> <span class="lb-score">{{minesweeper_score}}</span>
    </div>
    {{/each}}
</div>
{{/if}}
<script src="js/logout.js"></script>
<script src="../utils/helpers.js"></script>