<!-- Add the stylesheet to the head -->
<link rel="stylesheet" type="text/css" href="https://gitcdn.xyz/repo/pi0/clippyjs/master/assets/clippy.css">

<!-- Add these scripts to  the bottom of the page -->
<script src="https://unpkg.com/jquery@3.2.1"></script>

<script src="https://unpkg.com/clippyjs@latest"></script>


<script src="js/login.js" type="text/javascript" defer></script>

<div id="login" class="jumbotron">
  <h1 class="display-4">Login</h1>
  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <span class="input-group-text" id="inputGroup-sizing-default">Username</span>
    </div>
    <input id="usernameLogin" type="text" class="form-control" aria-label="Default"
      aria-describedby="inputGroup-sizing-default">
  </div>
  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <span class="input-group-text" id="inputGroup-sizing-default">Password</span>
    </div>
    <input id="passwordLogin" type="password" class="form-control" aria-label="Default"
      aria-describedby="inputGroup-sizing-default">
  </div>
  <button href="/" id="loginButton" type="button" class="btn btn-primary">Login</button>
  <button id = "signupInstead" type="button" class="btn btn-warning">Create Account</button>
  <button type="button" class="btn btn-danger">Cancel</button>
</div>

<div id = "signup" class="jumbotron">
  <h1 class="display-4">Sign Up</h1>
  <div class="input-group mb-3">
  <div class="input-group-prepend">
    <span class="input-group-text" id="inputGroup-sizing-default">Username</span>
  </div>
  <input id = "usernameSignUp" type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
</div>
<div class="input-group mb-3">
  <div class="input-group-prepend">
    <span class="input-group-text" id="inputGroup-sizing-default">Password</span>
  </div>
  <input id = "passwordSignUp" type="password" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
</div>
<div class="input-group mb-3">
  <div class="input-group-prepend">
    <span class="input-group-text" id="inputGroup-sizing-default">Confirm Password</span>
  </div>
  <input id = "passwordCheck" type="password" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
</div>
<button id="createAccount" type="button" class="btn btn-primary">Create Account</button>
<button id="loginInstead" type="button" class="btn btn-warning">Login Instead</button>
<button type="button" class="btn btn-danger">Cancel</button>
</div>


<div id="chaos">
  <h1 class="pain">T̶̬̰̊͐h̷̘̍̈e̸̮̬͆̍ ̶̤͋F̸̹̰͊i̷̫̣͒t̷̛̺̠̚ń̴̮è̴̫͝s̵̖̈́s̶̞̉G̶͙̔͛r̴̪̍ą̴̀m̴͓̀̃ ̵͓̈P̸̡̔̊Ä̷̼́C̵͈͗E̸̱̊̌ͅR̸̢͋
    ̴̪̋Ṱ̶̓͜e̵͔̓s̴̼͊͐t̵̫̀ ̷̳͓̌͠i̷͖̻͊̋s̸͙͝ ̸̛̬̗ą̴͇̾̅ ̶̘̹͂̒m̸̟̋u̵͇̬͒͝l̸̹̏ṭ̴̙̓̒i̴̛͈̮s̵̱͉̆̇t̸̫̖͗a̷͔͔̚ģ̸̺̏̈́ḙ̵̡͌̑
    ̸̹̾a̵̬͑͂e̶̱͂r̴̪̳̾̈́ǫ̶̉b̴̮̜͂̀į̵̓̈́c̵̨̜̽ ̷̻̈́̒c̴̱̄a̴̦̓p̶͖̍a̴͈͝ć̴̗̥i̸̓͝ͅț̴̋̆y̴̯͘ͅ ̸̘͆̽t̵̛͖̀ĕ̸̻͈s̸̞̀t̶̬̻̽̅
    ̷̲̃t̴̛̳͘h̴̭̏͊͜ā̷͍ṯ̸̕ͅ ̷̙̲̀͌p̷̮̪̈ŕ̵̞̦̆ỏ̸̲̮͌ǧ̸̥r̷̟̅͒e̷͓͝s̴̟͛s̶̬͌ȉ̵͍̘v̴̡̦̈̌e̶̺̙̒ľ̵̨̳ỹ̷̞́ ̷͉̈͂g̸̱͐ȩ̴̏ẗ̶̮͔́̇s̴̱͆
    ̴͙̚ṃ̴͐͐ͅō̷̹̈́r̵̪̦̚e̷̛̦ ̵̻̰͒d̵̖̩̅ị̷̎͘f̵̎͜f̵̼͖̉̈i̷̪̗̋c̸̢̩͋ū̷͈l̴͍̃͒t̷͍̏ ̴͓͖̂͝a̵̟̞̓s̵̪̖̈ ̵̦̪̈́͂i̶̺̒t̶̛̫̾
    ̴͖̽c̶̹͂̾ò̵̹̈n̸͕̭͑t̷͔̆i̶̥̎ǹ̸̳ṵ̷̹̇̽e̶͈̋͛s̸͖̭͘.̷̨̹̑̚
    ̸͍̀̚
    ̸̞̄T̵̩̀̍h̵͕̃̋ͅě̶̲͉ ̵͓̂̅t̴̝̜́̿ê̷̙͍s̸͚͚̽t̷͕͐͘ ̴̠̅i̴̺͛s̷̲̓̚ ̴̛̱͝u̷̖͉̽̈ś̵̪e̸̘͒̊d̵̗̆̚ ̶̳̜̕̚ṭ̸̛ȯ̸̡͚́
    ̶͇̌m̵͖͒e̴͔̔̄a̷͔̎s̶̫͉̅̓u̴̞̼̓̓r̷͚͍͂e̴̝͚̎̔ ̷̧͙͂́a̷͍̾ͅ ̴͓̓s̴͇̈́͗t̵̪̜̊ṷ̷͛d̸̼͆ë̸̻̲̚n̷̹̲̑̾t̸̞͊͘'̴͕͛̑ͅs̴̢̢̾͝
    ̷̧͍̋ä̵̯́ę̶̺͑r̷̛̩͚̾o̶̪̊͝b̴͕͚̂͝i̷̹̽c̵̨̔ ̴̧͖̌c̵̮͔͛̈a̶̼͊̉p̷͖͆͌a̶̧̭̓c̵̳̣͝ḭ̷̛ṯ̷̨͗y̷͇̲͋ ̸̡͓͋̾a̴̹̙͠s̵̞̉̇
    ̵̝̳̉́p̸̬̳̌͝à̷̺̘r̸̳̭̒͘t̴̛͙̱͒ ̶̦͐ȍ̴̯̤f̵̼̤͝ ̴̨̨͐̿t̷̲̠̽h̷͙̤̍̀ë̴͔
    ̷̪̼͠F̵͈̱̈i̵̬̋t̶͙͚̎͘ñ̷̳̩̕ě̵̼̹s̸̛͎͕s̷̰̗̏Ǵ̷̮r̶̯͑a̶͍͒m̴̙͐͜
    ̵̖͐à̴͉̟ŝ̷̫͖̏s̴͖̍e̷̛̘̭͋s̴̢̰̒s̴̛̺̈m̵̤̖͂e̸̟̔̕͜n̶̹̣̚t̶͈̎͘.̶͎̑̕ ̷̰̠̒Š̸͓t̵̙̑̚ù̵̠͘͜ḍ̶͔͐ę̷̦̂ṋ̸͎͊͝t̶̠́̂ş̵̽̑
    ̸̺̄̒ṟ̶̬̉̅ṳ̸͊̚ṇ̷͝͝ ̷̯͇̃͝b̷̺̣͛a̴̢̳͊͋c̷̤̔k̵̢̘̑ ̵̛͉̫̕ḁ̵̑̋n̷͔̯͂d̸̬͠ ̴̪̺͝f̶̩̪̆͛o̷̧͈͋r̴̢͓͘t̵͚͑h̵̛̩͉͗ ̶̱͕̋̋ả̷̞s̴̲̃
    ̸̠͉̇̉m̵̳͒͝a̸̭̍͜n̷̙͌y̴̱̐̀ ̸͎̜̀̆t̶̙͖͐ì̸͕m̴̩̒̽e̶̱̎s̶̺̒͊ ̵̟͗̎a̷͔͘ṡ̸̘͕ ̸̤͂̀ť̸̡ȟ̶͙̲ḛ̷̖̈́̈y̵̯̳͒͝ ̷̟̄c̶̪͛a̵̲̋̍n̵̺̜̄,̴̭̉
    ̵̱̽ẻ̵̡͝ā̶̦͒c̶̥̫̅̂h̵̦̎ ̶͚̈́̀l̵̲̤̑̍a̴̝̅p̵̹͍̊̽ ̸̱̈s̷̍̆͜i̸̖̟̿͠ġ̷̢n̸̡̥̈́a̷̢̾̎l̵̝̼̍e̶̫̻̒d̸̡̽ͅ ̴͈͇̚ḅ̵̿̊y̶̝͇̒̄ ̷͇̈̅ả̵͔̦̈́
    ̸̫͠͝ḅ̶̘̏̓ḛ̵͂e̶̱̮͒p̴͙̉ ̷͍̊s̵̛͎̲͒o̴̦̼͋u̴̥̞͠n̶̞͚͗d̷̻̟͝.̸̲͒͜ ̴̲͝T̴̲͝ȟ̷̞͓͠ȇ̷̬̲̉ ̸̨̓̎t̸͓͝͝e̸̜͎͐̉s̷͚̭͐t̸̟̱̍̑
    ̵̲͚̃̀g̶̲͗ë̷̘̞́͛t̵̗̣͠ ̸͒͜p̵̳͂ṟ̷̡̍o̴̰͖͂̋g̸̞͆ŗ̸̖͌͘è̵̗s̴̞̮̑s̴̬͑i̶͓͝v̴̡͖̇ę̴̾̅l̶̤̯͌y̸̛̜̬͋
    ̸̣̹̅f̴̼͍̔̓a̵͇̎̈́s̵̱̃t̵̮͒̍e̷̬͋̈́r̴̟̲̉̑ ̷̦͙̉͒a̶̘̽̅s̴̢̗̓ ̷̩̽i̵̪̹͛t̴̲̠͗ ̷̲̅c̵̡̼̽o̸͎̺͆ń̴̪̀ṯ̸̆͗ì̶̫̒n̴͓̩̄u̷̹͐̈e̴̲̱̚̕ṡ̸̺
    ̴̝̍͝u̷͎͘n̵̬͎̈t̸̙̎ͅi̶̳̎l̸̗̯̈́ ̷̫̯̌t̸̥̿h̶̡̏ȇ̵̛̪ͅ ̵̨̆ṡ̸͜t̶̼̎u̸͎͂̒d̵͓̾ẻ̵̩͍n̴͉̓ť̵͉̱͋
    ̸̧̱̓r̷̭͙̚e̶͓͑ạ̴̓̈́c̴͕̔̕ĥ̶̝̰̋ę̷͋s̵̘̭̚ ̷̢̮͗̓t̸̯̊͌h̶͔͓̄e̸̠͊̉ì̴̹ͅr̶̞͍͋ ̶͍̺͠m̸̟͈͊́a̶̞̤̅x̵̩͘ ̴͇͑̎l̵͎̎ḁ̶̋͝ͅp̴͓̪̚
    ̸̫̩͆͒s̵̥͇̈́c̶̝̩̈́o̷̟͎͑r̴̝̂̓e̸̺̎̽.̴̱͍̋̏
    ̴̪͉̓̑
    ̷̧̤͌T̸̞̟̀̕ẖ̴̀͒e̵̥͘ ̷͇͇̓͝P̷͖̰̑Ặ̷C̵͈̿E̷̫͙̋͊R̶̛̞ ̴̝̓̔Ṯ̵̐̽ę̴̻̀s̸͉̏t̸̫͝ ̷͙̘͛͠s̴͖̟̈́c̴̥̹̅o̷̖̹͋̊r̷̼̽é̶͍̇
    ̷̡̨̈́i̸͈̘͛͝s̵͈͍̀ ̷̟̓c̸̡͓̃o̵̭͆m̸͖̻͠b̸̜̌ĭ̶͈ṇ̴̡̋̂e̶͇̱͗̔ḋ̵͍͕ ̶̧̔̂i̷͍̱̾̈́n̸͔͘͘ͅ ̶̙̤̿ț̸̨̛̈́h̷̪̳͂̈e̷̛̻̔ͅ
    ̵̗̬̉F̴͇̫̋ï̴̻̹t̶͔͙̑̑n̷̝̩͝ḛ̴̡́s̵̺̼͆s̶̚͜G̶̺͖̓r̶͉͠a̵͚̋̆m̴̩̳̅̀ ̸͖̯͆s̴͚̘̿̃ò̷̮̻̽f̶͇̣͗t̶̨͈̀̅ẃ̸͖a̶͉͇͗̋r̸̫̰̈e̸͙͑̽
    ̵͚̬̎̾w̷̬͒̇i̷͖̾͒t̶̛̹ͅḩ̵̗̈́ ̶͈̬́̀s̷̜̥̿̀c̸̦̎͗ő̷̻ṛ̴̍e̶̬̣̋͝ṣ̷̘̔́ ̸̟̦̂̊f̵̧̼̓͒o̵͉̅͘r̷̬̍̀
    ̸̤̚m̶̜̱̾ŭ̵͇̥ś̸̢ć̴͚͊ṳ̴̇͝l̴͔̼̓ȃ̷͔͕r̴̡̻̅ ̷̨̩̑s̵͔̎̕t̷̺͎͛r̴̖͎͠e̴̻̕n̵̛̠͕̉ģ̷̆̋t̴̻̊h̷̥̀,̸̢̽͠
    ̸͙̼̓̅e̷̻̓̅n̸̲̾̋d̵̬͉̽̋ǘ̶̱̖̈́ŕ̸̯̰͝á̸̮̼n̴̪̑̀c̶̮͝e̸̼̯͛̚,̷̝̍͂
    ̸̱͝f̵̘̻̽l̵̨̅͗e̸̘͎͌͌x̶̖́͘ì̴̝̌b̵̗̱͆̑ȋ̸͖ͅl̷͉̜̑i̸̦̮̐̚t̷̢͔̏ỵ̴̹̄̈ ̸̟͋ȧ̶̗͜ṅ̶̝d̴̡̈̒ ̴̖̚b̶͚̃̈́ō̵̤̈́ͅd̸̜͐̚y̸̢͔̓
    ̸̨̘͂c̴̬͐̎ö̸͕̗m̶̹͌p̴̹̒̉o̶̟̿̂s̵͖̐i̶̤̍̐͜t̴̫́̏i̴̤̭͑ö̷̙́̕ń̴̬̰̔ ̴͚̔ẗ̶̳́̈́o̵͚͇͑
    ̸̺̝́̚d̶̼͈̉ȩ̸̻̒̕t̵̟̙̽͊e̵̲͆r̴̻̂̔m̶̞̖̋i̷͙̞͑n̶̦̋͠ë̷̡́͝ ̴̖͆ͅw̵̪̭͌͐ḧ̵͙́͛ę̸̙̌ẗ̸̡̺ḩ̵͉̒͛e̸̮̥͝r̸̠̻̓͠ ̸̦̺͘a̸͆ͅ
    ̵͙̝͌s̶͎̭̀t̴̙̍ü̴̫͝d̷̘̯̑e̵̹̣͌ņ̸̈́̈t̵͖̉͆ ̵̻̬̾i̶͔̾̅͜s̸̠̦̾̑ ̷͓͍͂i̵̪̙͗ņ̶̏͆ ̵͔̖̏t̵̘̭͂h̸̞̄ẽ̵̻͙̌
    ̶̧̼̈́H̷̪̀͘e̷͎̚͜a̴̒̈́͜ĺ̸͈̙̓t̷͚̙̊h̵̡̘͗y̸͓̼͠ ̴͓̇F̶̣̒ì̷̗̘t̸̬͂͝n̸͔̾́ê̶͔͜ş̵͛͊s̴͎̭͒͗ ̴̟͝Z̴̰̍͗ŏ̶̡ͅṇ̷͚̋e̷͙͊™̸̺̦̂̂
    ̸̡̆͆͜o̴̹̎r̵̫̂ ̷̭̺̿t̷͔̿͝ḧ̵͈ę̸̫̒̅ ̷̼̒N̵̲̪̚e̴̲̻̎ë̷͉̦́͠d̷͉̺̀ŝ̷̻͕
    ̸̝͂̕I̷̻̖͑m̶̗̑̚p̶̱̅r̸̤̮̅ơ̵͇̈́v̷̰̈́ě̷͉m̸̡̆e̵̢̎n̴̟̪͂ṱ̵͆̒ ̸͈̗̈́Ẕ̵̘̉̅ò̶͎n̶̥̓e̸̢̛͈™̷̭̕͜.̷̘͑̀T̶̬̰̊͐h̷̘̍̈e̸̮̬͆̍
    ̶̤͋F̸̹̰͊i̷̫̣͒t̷̛̺̠̚ń̴̮è̴̫͝s̵̖̈́s̶̞̉G̶͙̔͛r̴̪̍ą̴̀m̴͓̀̃ ̵͓̈P̸̡̔̊Ä̷̼́C̵͈͗E̸̱̊̌ͅR̸̢͋ ̴̪̋Ṱ̶̓͜e̵͔̓s̴̼͊͐t̵̫̀
    ̷̳͓̌͠i̷͖̻͊̋s̸͙͝ ̸̛̬̗ą̴͇̾̅ ̶̘̹͂̒m̸̟̋u̵͇̬͒͝l̸̹̏ṭ̴̙̓̒i̴̛͈̮s̵̱͉̆̇t̸̫̖͗a̷͔͔̚ģ̸̺̏̈́ḙ̵̡͌̑
    ̸̹̾a̵̬͑͂e̶̱͂r̴̪̳̾̈́ǫ̶̉b̴̮̜͂̀į̵̓̈́c̵̨̜̽ ̷̻̈́̒c̴̱̄a̴̦̓p̶͖̍a̴͈͝ć̴̗̥i̸̓͝ͅț̴̋̆y̴̯͘ͅ ̸̘͆̽t̵̛͖̀ĕ̸̻͈s̸̞̀t̶̬̻̽̅
    ̷̲̃t̴̛̳͘h̴̭̏͊͜ā̷͍ṯ̸̕ͅ ̷̙̲̀͌p̷̮̪̈ŕ̵̞̦̆ỏ̸̲̮͌ǧ̸̥r̷̟̅͒e̷͓͝s̴̟͛s̶̬͌ȉ̵͍̘v̴̡̦̈̌e̶̺̙̒ľ̵̨̳ỹ̷̞́ ̷͉̈͂g̸̱͐ȩ̴̏ẗ̶̮͔́̇s̴̱͆
    ̴͙̚ṃ̴͐͐ͅō̷̹̈́r̵̪̦̚e̷̛̦ ̵̻̰͒d̵̖̩̅ị̷̎͘f̵̎͜f̵̼͖̉̈i̷̪̗̋c̸̢̩͋ū̷͈l̴͍̃͒t̷͍̏ ̴͓͖̂͝a̵̟̞̓s̵̪̖̈ ̵̦̪̈́͂i̶̺̒t̶̛̫̾
    ̴͖̽c̶̹͂̾ò̵̹̈n̸͕̭͑t̷͔̆i̶̥̎ǹ̸̳ṵ̷̹̇̽e̶͈̋͛s̸͖̭͘.̷̨̹̑̚
    ̸͍̀̚
    ̸̞̄T̵̩̀̍h̵͕̃̋ͅě̶̲͉ ̵͓̂̅t̴̝̜́̿ê̷̙͍s̸͚͚̽t̷͕͐͘ ̴̠̅i̴̺͛s̷̲̓̚ ̴̛̱͝u̷̖͉̽̈ś̵̪e̸̘͒̊d̵̗̆̚ ̶̳̜̕̚ṭ̸̛ȯ̸̡͚́
    ̶͇̌m̵͖͒e̴͔̔̄a̷͔̎s̶̫͉̅̓u̴̞̼̓̓r̷͚͍͂e̴̝͚̎̔ ̷̧͙͂́a̷͍̾ͅ ̴͓̓s̴͇̈́͗t̵̪̜̊ṷ̷͛d̸̼͆ë̸̻̲̚n̷̹̲̑̾t̸̞͊͘'̴͕͛̑ͅs̴̢̢̾͝
    ̷̧͍̋ä̵̯́ę̶̺͑r̷̛̩͚̾o̶̪̊͝b̴͕͚̂͝i̷̹̽c̵̨̔ ̴̧͖̌c̵̮͔͛̈a̶̼͊̉p̷͖͆͌a̶̧̭̓c̵̳̣͝ḭ̷̛ṯ̷̨͗y̷͇̲͋ ̸̡͓͋̾a̴̹̙͠s̵̞̉̇
    ̵̝̳̉́p̸̬̳̌͝à̷̺̘r̸̳̭̒͘t̴̛͙̱͒ ̶̦͐ȍ̴̯̤f̵̼̤͝ ̴̨̨͐̿t̷̲̠̽h̷͙̤̍̀ë̴͔
    ̷̪̼͠F̵͈̱̈i̵̬̋t̶͙͚̎͘ñ̷̳̩̕ě̵̼̹s̸̛͎͕s̷̰̗̏Ǵ̷̮r̶̯͑a̶͍͒m̴̙͐͜
    ̵̖͐à̴͉̟ŝ̷̫͖̏s̴͖̍e̷̛̘̭͋s̴̢̰̒s̴̛̺̈m̵̤̖͂e̸̟̔̕͜n̶̹̣̚t̶͈̎͘.̶͎̑̕ ̷̰̠̒Š̸͓t̵̙̑̚ù̵̠͘͜ḍ̶͔͐ę̷̦̂ṋ̸͎͊͝t̶̠́̂ş̵̽̑
    ̸̺̄̒ṟ̶̬̉̅ṳ̸͊̚ṇ̷͝͝ ̷̯͇̃͝b̷̺̣͛a̴̢̳͊͋c̷̤̔k̵̢̘̑ ̵̛͉̫̕ḁ̵̑̋n̷͔̯͂d̸̬͠ ̴̪̺͝f̶̩̪̆͛o̷̧͈͋r̴̢͓͘t̵͚͑h̵̛̩͉͗ ̶̱͕̋̋ả̷̞s̴̲̃
    ̸̠͉̇̉m̵̳͒͝a̸̭̍͜n̷̙͌y̴̱̐̀ ̸͎̜̀̆t̶̙͖͐ì̸͕m̴̩̒̽e̶̱̎s̶̺̒͊ ̵̟͗̎a̷͔͘ṡ̸̘͕ ̸̤͂̀ť̸̡ȟ̶͙̲ḛ̷̖̈́̈y̵̯̳͒͝ ̷̟̄c̶̪͛a̵̲̋̍n̵̺̜̄,̴̭̉
    ̵̱̽ẻ̵̡͝ā̶̦͒c̶̥̫̅̂h̵̦̎ ̶͚̈́̀l̵̲̤̑̍a̴̝̅p̵̹͍̊̽ ̸̱̈s̷̍̆͜i̸̖̟̿͠ġ̷̢n̸̡̥̈́a̷̢̾̎l̵̝̼̍e̶̫̻̒d̸̡̽ͅ ̴͈͇̚ḅ̵̿̊y̶̝͇̒̄ ̷͇̈̅ả̵͔̦̈́
    ̸̫͠͝ḅ̶̘̏̓ḛ̵͂e̶̱̮͒p̴͙̉ ̷͍̊s̵̛͎̲͒o̴̦̼͋u̴̥̞͠n̶̞͚͗d̷̻̟͝.̸̲͒͜ ̴̲͝T̴̲͝ȟ̷̞͓͠ȇ̷̬̲̉ ̸̨̓̎t̸͓͝͝e̸̜͎͐̉s̷͚̭͐t̸̟̱̍̑
    ̵̲͚̃̀g̶̲͗ë̷̘̞́͛t̵̗̣͠ ̸͒͜p̵̳͂ṟ̷̡̍o̴̰͖͂̋g̸̞͆ŗ̸̖͌͘è̵̗s̴̞̮̑s̴̬͑i̶͓͝v̴̡͖̇ę̴̾̅l̶̤̯͌y̸̛̜̬͋
    ̸̣̹̅f̴̼͍̔̓a̵͇̎̈́s̵̱̃t̵̮͒̍e̷̬͋̈́r̴̟̲̉̑ ̷̦͙̉͒a̶̘̽̅s̴̢̗̓ ̷̩̽i̵̪̹͛t̴̲̠͗ ̷̲̅c̵̡̼̽o̸͎̺͆ń̴̪̀ṯ̸̆͗ì̶̫̒n̴͓̩̄u̷̹͐̈e̴̲̱̚̕ṡ̸̺
    ̴̝̍͝u̷͎͘n̵̬͎̈t̸̙̎ͅi̶̳̎l̸̗̯̈́ ̷̫̯̌t̸̥̿h̶̡̏ȇ̵̛̪ͅ ̵̨̆ṡ̸͜t̶̼̎u̸͎͂̒d̵͓̾ẻ̵̩͍n̴͉̓ť̵͉̱͋
    ̸̧̱̓r̷̭͙̚e̶͓͑ạ̴̓̈́c̴͕̔̕ĥ̶̝̰̋ę̷͋s̵̘̭̚ ̷̢̮͗̓t̸̯̊͌h̶͔͓̄e̸̠͊̉ì̴̹ͅr̶̞͍͋ ̶͍̺͠m̸̟͈͊́a̶̞̤̅x̵̩͘ ̴͇͑̎l̵͎̎ḁ̶̋͝ͅp̴͓̪̚
    ̸̫̩͆͒s̵̥͇̈́c̶̝̩̈́o̷̟͎͑r̴̝̂̓e̸̺̎̽.̴̱͍̋̏
    ̴̪͉̓̑
    ̷̧̤͌T̸̞̟̀̕ẖ̴̀͒e̵̥͘ ̷͇͇̓͝P̷͖̰̑Ặ̷C̵͈̿E̷̫͙̋͊R̶̛̞ ̴̝̓̔Ṯ̵̐̽ę̴̻̀s̸͉̏t̸̫͝ ̷͙̘͛͠s̴͖̟̈́c̴̥̹̅o̷̖̹͋̊r̷̼̽é̶͍̇
    ̷̡̨̈́i̸͈̘͛͝s̵͈͍̀ ̷̟̓c̸̡͓̃o̵̭͆m̸͖̻͠b̸̜̌ĭ̶͈ṇ̴̡̋̂e̶͇̱͗̔ḋ̵͍͕ ̶̧̔̂i̷͍̱̾̈́n̸͔͘͘ͅ ̶̙̤̿ț̸̨̛̈́h̷̪̳͂̈e̷̛̻̔ͅ
    ̵̗̬̉F̴͇̫̋ï̴̻̹t̶͔͙̑̑n̷̝̩͝ḛ̴̡́s̵̺̼͆s̶̚͜G̶̺͖̓r̶͉͠a̵͚̋̆m̴̩̳̅̀ ̸͖̯͆s̴͚̘̿̃ò̷̮̻̽f̶͇̣͗t̶̨͈̀̅ẃ̸͖a̶͉͇͗̋r̸̫̰̈e̸͙͑̽
    ̵͚̬̎̾w̷̬͒̇i̷͖̾͒t̶̛̹ͅḩ̵̗̈́ ̶͈̬́̀s̷̜̥̿̀c̸̦̎͗ő̷̻ṛ̴̍e̶̬̣̋͝ṣ̷̘̔́ ̸̟̦̂̊f̵̧̼̓͒o̵͉̅͘r̷̬̍̀
    ̸̤̚m̶̜̱̾ŭ̵͇̥ś̸̢ć̴͚͊ṳ̴̇͝l̴͔̼̓ȃ̷͔͕r̴̡̻̅ ̷̨̩̑s̵͔̎̕t̷̺͎͛r̴̖͎͠e̴̻̕n̵̛̠͕̉ģ̷̆̋t̴̻̊h̷̥̀,̸̢̽͠
    ̸͙̼̓̅e̷̻̓̅n̸̲̾̋d̵̬͉̽̋ǘ̶̱̖̈́ŕ̸̯̰͝á̸̮̼n̴̪̑̀c̶̮͝e̸̼̯͛̚,̷̝̍͂
    ̸̱͝f̵̘̻̽l̵̨̅͗e̸̘͎͌͌x̶̖́͘ì̴̝̌b̵̗̱͆̑ȋ̸͖ͅl̷͉̜̑i̸̦̮̐̚t̷̢͔̏ỵ̴̹̄̈ ̸̟͋ȧ̶̗͜ṅ̶̝d̴̡̈̒ ̴̖̚b̶͚̃̈́ō̵̤̈́ͅd̸̜͐̚y̸̢͔̓
    ̸̨̘͂c̴̬͐̎ö̸͕̗m̶̹͌p̴̹̒̉o̶̟̿̂s̵͖̐i̶̤̍̐͜t̴̫́̏i̴̤̭͑ö̷̙́̕ń̴̬̰̔ ̴͚̔ẗ̶̳́̈́o̵͚͇͑
    ̸̺̝́̚d̶̼͈̉ȩ̸̻̒̕t̵̟̙̽͊e̵̲͆r̴̻̂̔m̶̞̖̋i̷͙̞͑n̶̦̋͠ë̷̡́͝ ̴̖͆ͅw̵̪̭͌͐ḧ̵͙́͛ę̸̙̌ẗ̸̡̺ḩ̵͉̒͛e̸̮̥͝r̸̠̻̓͠ ̸̦̺͘a̸͆ͅ
    ̵͙̝͌s̶͎̭̀t̴̙̍ü̴̫͝d̷̘̯̑e̵̹̣͌ņ̸̈́̈t̵͖̉͆ ̵̻̬̾i̶͔̾̅͜s̸̠̦̾̑ ̷͓͍͂i̵̪̙͗ņ̶̏͆ ̵͔̖̏t̵̘̭͂h̸̞̄ẽ̵̻͙̌
    ̶̧̼̈́H̷̪̀͘e̷͎̚͜a̴̒̈́͜ĺ̸͈̙̓t̷͚̙̊h̵̡̘͗y̸͓̼͠ ̴͓̇F̶̣̒ì̷̗̘t̸̬͂͝n̸͔̾́ê̶͔͜ş̵͛͊s̴͎̭͒͗ ̴̟͝Z̴̰̍͗ŏ̶̡ͅṇ̷͚̋e̷͙͊™̸̺̦̂̂
    ̸̡̆͆͜o̴̹̎r̵̫̂ ̷̭̺̿t̷͔̿͝ḧ̵͈ę̸̫̒̅ ̷̼̒N̵̲̪̚e̴̲̻̎ë̷͉̦́͠d̷͉̺̀ŝ̷̻͕
    ̸̝͂̕I̷̻̖͑m̶̗̑̚p̶̱̅r̸̤̮̅ơ̵͇̈́v̷̰̈́ě̷͉m̸̡̆e̵̢̎n̴̟̪͂ṱ̵͆̒ ̸͈̗̈́Ẕ̵̘̉̅ò̶͎n̶̥̓e̸̢̛͈™̷̭̕͜.̷̘͑̀T̶̬̰̊͐h̷̘̍̈e̸̮̬͆̍
    ̶̤͋F̸̹̰͊i̷̫̣͒t̷̛̺̠̚ń̴̮è̴̫͝s̵̖̈́s̶̞̉G̶͙̔͛r̴̪̍ą̴̀m̴͓̀̃ ̵͓̈P̸̡̔̊Ä̷̼́C̵͈͗E̸̱̊̌ͅR̸̢͋ ̴̪̋Ṱ̶̓͜e̵͔̓s̴̼͊͐t̵̫̀
    ̷̳͓̌͠i̷͖̻͊̋s̸͙͝ ̸̛̬̗ą̴͇̾̅ ̶̘̹͂̒m̸̟̋u̵͇̬͒͝l̸̹̏ṭ̴̙̓̒i̴̛͈̮s̵̱͉̆̇t̸̫̖͗a̷͔͔̚ģ̸̺̏̈́ḙ̵̡͌̑
    ̸̹̾a̵̬͑͂e̶̱͂r̴̪̳̾̈́ǫ̶̉b̴̮̜͂̀į̵̓̈́c̵̨̜̽ ̷̻̈́̒c̴̱̄a̴̦̓p̶͖̍a̴͈͝ć̴̗̥i̸̓͝ͅț̴̋̆y̴̯͘ͅ ̸̘͆̽t̵̛͖̀ĕ̸̻͈s̸̞̀t̶̬̻̽̅
    ̷̲̃t̴̛̳͘h̴̭̏͊͜ā̷͍ṯ̸̕ͅ ̷̙̲̀͌p̷̮̪̈ŕ̵̞̦̆ỏ̸̲̮͌ǧ̸̥r̷̟̅͒e̷͓͝s̴̟͛s̶̬͌ȉ̵͍̘v̴̡̦̈̌e̶̺̙̒ľ̵̨̳ỹ̷̞́ ̷͉̈͂g̸̱͐ȩ̴̏ẗ̶̮͔́̇s̴̱͆
    ̴͙̚ṃ̴͐͐ͅō̷̹̈́r̵̪̦̚e̷̛̦ ̵̻̰͒d̵̖̩̅ị̷̎͘f̵̎͜f̵̼͖̉̈i̷̪̗̋c̸̢̩͋ū̷͈l̴͍̃͒t̷͍̏ ̴͓͖̂͝a̵̟̞̓s̵̪̖̈ ̵̦̪̈́͂i̶̺̒t̶̛̫̾
    ̴͖̽c̶̹͂̾ò̵̹̈n̸͕̭͑t̷͔̆i̶̥̎ǹ̸̳ṵ̷̹̇̽e̶͈̋͛s̸͖̭͘.̷̨̹̑̚
    ̸͍̀̚
    ̸̞̄T̵̩̀̍h̵͕̃̋ͅě̶̲͉ ̵͓̂̅t̴̝̜́̿ê̷̙͍s̸͚͚̽t̷͕͐͘ ̴̠̅i̴̺͛s̷̲̓̚ ̴̛̱͝u̷̖͉̽̈ś̵̪e̸̘͒̊d̵̗̆̚ ̶̳̜̕̚ṭ̸̛ȯ̸̡͚́
    ̶͇̌m̵͖͒e̴͔̔̄a̷͔̎s̶̫͉̅̓u̴̞̼̓̓r̷͚͍͂e̴̝͚̎̔ ̷̧͙͂́a̷͍̾ͅ ̴͓̓s̴͇̈́͗t̵̪̜̊ṷ̷͛d̸̼͆ë̸̻̲̚n̷̹̲̑̾t̸̞͊͘'̴͕͛̑ͅs̴̢̢̾͝
    ̷̧͍̋ä̵̯́ę̶̺͑r̷̛̩͚̾o̶̪̊͝b̴͕͚̂͝i̷̹̽c̵̨̔ ̴̧͖̌c̵̮͔͛̈a̶̼͊̉p̷͖͆͌a̶̧̭̓c̵̳̣͝ḭ̷̛ṯ̷̨͗y̷͇̲͋ ̸̡͓͋̾a̴̹̙͠s̵̞̉̇
    ̵̝̳̉́p̸̬̳̌͝à̷̺̘r̸̳̭̒͘t̴̛͙̱͒ ̶̦͐ȍ̴̯̤f̵̼̤͝ ̴̨̨͐̿t̷̲̠̽h̷͙̤̍̀ë̴͔
    ̷̪̼͠F̵͈̱̈i̵̬̋t̶͙͚̎͘ñ̷̳̩̕ě̵̼̹s̸̛͎͕s̷̰̗̏Ǵ̷̮r̶̯͑a̶͍͒m̴̙͐͜
    ̵̖͐à̴͉̟ŝ̷̫͖̏s̴͖̍e̷̛̘̭͋s̴̢̰̒s̴̛̺̈m̵̤̖͂e̸̟̔̕͜n̶̹̣̚t̶͈̎͘.̶͎̑̕ ̷̰̠̒Š̸͓t̵̙̑̚ù̵̠͘͜ḍ̶͔͐ę̷̦̂ṋ̸͎͊͝t̶̠́̂ş̵̽̑
    ̸̺̄̒ṟ̶̬̉̅ṳ̸͊̚ṇ̷͝͝ ̷̯͇̃͝b̷̺̣͛a̴̢̳͊͋c̷̤̔k̵̢̘̑ ̵̛͉̫̕ḁ̵̑̋n̷͔̯͂d̸̬͠ ̴̪̺͝f̶̩̪̆͛o̷̧͈͋r̴̢͓͘t̵͚͑h̵̛̩͉͗ ̶̱͕̋̋ả̷̞s̴̲̃
    ̸̠͉̇̉m̵̳͒͝a̸̭̍͜n̷̙͌y̴̱̐̀ ̸͎̜̀̆t̶̙͖͐ì̸͕m̴̩̒̽e̶̱̎s̶̺̒͊ ̵̟͗̎a̷͔͘ṡ̸̘͕ ̸̤͂̀ť̸̡ȟ̶͙̲ḛ̷̖̈́̈y̵̯̳͒͝ ̷̟̄c̶̪͛a̵̲̋̍n̵̺̜̄,̴̭̉
    ̵̱̽ẻ̵̡͝ā̶̦͒c̶̥̫̅̂h̵̦̎ ̶͚̈́̀l̵̲̤̑̍a̴̝̅p̵̹͍̊̽ ̸̱̈s̷̍̆͜i̸̖̟̿͠ġ̷̢n̸̡̥̈́a̷̢̾̎l̵̝̼̍e̶̫̻̒d̸̡̽ͅ ̴͈͇̚ḅ̵̿̊y̶̝͇̒̄ ̷͇̈̅ả̵͔̦̈́
    ̸̫͠͝ḅ̶̘̏̓ḛ̵͂e̶̱̮͒p̴͙̉ ̷͍̊s̵̛͎̲͒o̴̦̼͋u̴̥̞͠n̶̞͚͗d̷̻̟͝.̸̲͒͜ ̴̲͝T̴̲͝ȟ̷̞͓͠ȇ̷̬̲̉ ̸̨̓̎t̸͓͝͝e̸̜͎͐̉s̷͚̭͐t̸̟̱̍̑
    ̵̲͚̃̀g̶̲͗ë̷̘̞́͛t̵̗̣͠ ̸͒͜p̵̳͂ṟ̷̡̍o̴̰͖͂̋g̸̞͆ŗ̸̖͌͘è̵̗s̴̞̮̑s̴̬͑i̶͓͝v̴̡͖̇ę̴̾̅l̶̤̯͌y̸̛̜̬͋
    ̸̣̹̅f̴̼͍̔̓a̵͇̎̈́s̵̱̃t̵̮͒̍e̷̬͋̈́r̴̟̲̉̑ ̷̦͙̉͒a̶̘̽̅s̴̢̗̓ ̷̩̽i̵̪̹͛t̴̲̠͗ ̷̲̅c̵̡̼̽o̸͎̺͆ń̴̪̀ṯ̸̆͗ì̶̫̒n̴͓̩̄u̷̹͐̈e̴̲̱̚̕ṡ̸̺
    ̴̝̍͝u̷͎͘n̵̬͎̈t̸̙̎ͅi̶̳̎l̸̗̯̈́ ̷̫̯̌t̸̥̿h̶̡̏ȇ̵̛̪ͅ ̵̨̆ṡ̸͜t̶̼̎u̸͎͂̒d̵͓̾ẻ̵̩͍n̴͉̓ť̵͉̱͋
    ̸̧̱̓r̷̭͙̚e̶͓͑ạ̴̓̈́c̴͕̔̕ĥ̶̝̰̋ę̷͋s̵̘̭̚ ̷̢̮͗̓t̸̯̊͌h̶͔͓̄e̸̠͊̉ì̴̹ͅr̶̞͍͋ ̶͍̺͠m̸̟͈͊́a̶̞̤̅x̵̩͘ ̴͇͑̎l̵͎̎ḁ̶̋͝ͅp̴͓̪̚
    ̸̫̩͆͒s̵̥͇̈́c̶̝̩̈́o̷̟͎͑r̴̝̂̓e̸̺̎̽.̴̱͍̋̏
    ̴̪͉̓̑
    ̷̧̤͌T̸̞̟̀̕ẖ̴̀͒e̵̥͘ ̷͇͇̓͝P̷͖̰̑Ặ̷C̵͈̿E̷̫͙̋͊R̶̛̞ ̴̝̓̔Ṯ̵̐̽ę̴̻̀s̸͉̏t̸̫͝ ̷͙̘͛͠s̴͖̟̈́c̴̥̹̅o̷̖̹͋̊r̷̼̽é̶͍̇
    ̷̡̨̈́i̸͈̘͛͝s̵͈͍̀ ̷̟̓c̸̡͓̃o̵̭͆m̸͖̻͠b̸̜̌ĭ̶͈ṇ̴̡̋̂e̶͇̱͗̔ḋ̵͍͕ ̶̧̔̂i̷͍̱̾̈́n̸͔͘͘ͅ ̶̙̤̿ț̸̨̛̈́h̷̪̳͂̈e̷̛̻̔ͅ
    ̵̗̬̉F̴͇̫̋ï̴̻̹t̶͔͙̑̑n̷̝̩͝ḛ̴̡́s̵̺̼͆s̶̚͜G̶̺͖̓r̶͉͠a̵͚̋̆m̴̩̳̅̀ ̸͖̯͆s̴͚̘̿̃ò̷̮̻̽f̶͇̣͗t̶̨͈̀̅ẃ̸͖a̶͉͇͗̋r̸̫̰̈e̸͙͑̽
    ̵͚̬̎̾w̷̬͒̇i̷͖̾͒t̶̛̹ͅḩ̵̗̈́ ̶͈̬́̀s̷̜̥̿̀c̸̦̎͗ő̷̻ṛ̴̍e̶̬̣̋͝ṣ̷̘̔́ ̸̟̦̂̊f̵̧̼̓͒o̵͉̅͘r̷̬̍̀
    ̸̤̚m̶̜̱̾ŭ̵͇̥ś̸̢ć̴͚͊ṳ̴̇͝l̴͔̼̓ȃ̷͔͕r̴̡̻̅ ̷̨̩̑s̵͔̎̕t̷̺͎͛r̴̖͎͠e̴̻̕n̵̛̠͕̉ģ̷̆̋t̴̻̊h̷̥̀,̸̢̽͠
    ̸͙̼̓̅e̷̻̓̅n̸̲̾̋d̵̬͉̽̋ǘ̶̱̖̈́ŕ̸̯̰͝á̸̮̼n̴̪̑̀c̶̮͝e̸̼̯͛̚,̷̝̍͂
    ̸̱͝f̵̘̻̽l̵̨̅͗e̸̘͎͌͌x̶̖́͘ì̴̝̌b̵̗̱͆̑ȋ̸͖ͅl̷͉̜̑i̸̦̮̐̚t̷̢͔̏ỵ̴̹̄̈ ̸̟͋ȧ̶̗͜ṅ̶̝d̴̡̈̒ ̴̖̚b̶͚̃̈́ō̵̤̈́ͅd̸̜͐̚y̸̢͔̓
    ̸̨̘͂c̴̬͐̎ö̸͕̗m̶̹͌p̴̹̒̉o̶̟̿̂s̵͖̐i̶̤̍̐͜t̴̫́̏i̴̤̭͑ö̷̙́̕ń̴̬̰̔ ̴͚̔ẗ̶̳́̈́o̵͚͇͑
    ̸̺̝́̚d̶̼͈̉ȩ̸̻̒̕t̵̟̙̽͊e̵̲͆r̴̻̂̔m̶̞̖̋i̷͙̞͑n̶̦̋͠ë̷̡́͝ ̴̖͆ͅw̵̪̭͌͐ḧ̵͙́͛ę̸̙̌ẗ̸̡̺ḩ̵͉̒͛e̸̮̥͝r̸̠̻̓͠ ̸̦̺͘a̸͆ͅ
    ̵͙̝͌s̶͎̭̀t̴̙̍ü̴̫͝d̷̘̯̑e̵̹̣͌ņ̸̈́̈t̵͖̉͆ ̵̻̬̾i̶͔̾̅͜s̸̠̦̾̑ ̷͓͍͂i̵̪̙͗ņ̶̏͆ ̵͔̖̏t̵̘̭͂h̸̞̄ẽ̵̻͙̌
    ̶̧̼̈́H̷̪̀͘e̷͎̚͜a̴̒̈́͜ĺ̸͈̙̓t̷͚̙̊h̵̡̘͗y̸͓̼͠ ̴͓̇F̶̣̒ì̷̗̘t̸̬͂͝n̸͔̾́ê̶͔͜ş̵͛͊s̴͎̭͒͗ ̴̟͝Z̴̰̍͗ŏ̶̡ͅṇ̷͚̋e̷͙͊™̸̺̦̂̂
    ̸̡̆͆͜o̴̹̎r̵̫̂ ̷̭̺̿t̷͔̿͝ḧ̵͈ę̸̫̒̅ ̷̼̒N̵̲̪̚e̴̲̻̎ë̷͉̦́͠d̷͉̺̀ŝ̷̻͕
    ̸̝͂̕I̷̻̖͑m̶̗̑̚p̶̱̅r̸̤̮̅ơ̵͇̈́v̷̰̈́ě̷͉m̸̡̆e̵̢̎n̴̟̪͂ṱ̵͆̒ ̸͈̗̈́Ẕ̵̘̉̅ò̶͎n̶̥̓e̸̢̛͈™̷̭̕͜.̷̘͑̀T̶̬̰̊͐h̷̘̍̈e̸̮̬͆̍
    ̶̤͋F̸̹̰͊i̷̫̣͒t̷̛̺̠̚ń̴̮è̴̫͝s̵̖̈́s̶̞̉G̶͙̔͛r̴̪̍ą̴̀m̴͓̀̃ ̵͓̈P̸̡̔̊Ä̷̼́C̵͈͗E̸̱̊̌ͅR̸̢͋ ̴̪̋Ṱ̶̓͜e̵͔̓s̴̼͊͐t̵̫̀
    ̷̳͓̌͠i̷͖̻͊̋s̸͙͝ ̸̛̬̗ą̴͇̾̅ ̶̘̹͂̒m̸̟̋u̵͇̬͒͝l̸̹̏ṭ̴̙̓̒i̴̛͈̮s̵̱͉̆̇t̸̫̖͗a̷͔͔̚ģ̸̺̏̈́ḙ̵̡͌̑
    ̸̹̾a̵̬͑͂e̶̱͂r̴̪̳̾̈́ǫ̶̉b̴̮̜͂̀į̵̓̈́c̵̨̜̽ ̷̻̈́̒c̴̱̄a̴̦̓p̶͖̍a̴͈͝ć̴̗̥i̸̓͝ͅț̴̋̆y̴̯͘ͅ ̸̘͆̽t̵̛͖̀ĕ̸̻͈s̸̞̀t̶̬̻̽̅
    ̷̲̃t̴̛̳͘h̴̭̏͊͜ā̷͍ṯ̸̕ͅ ̷̙̲̀͌p̷̮̪̈ŕ̵̞̦̆ỏ̸̲̮͌ǧ̸̥r̷̟̅͒e̷͓͝s̴̟͛s̶̬͌ȉ̵͍̘v̴̡̦̈̌e̶̺̙̒ľ̵̨̳ỹ̷̞́ ̷͉̈͂g̸̱͐ȩ̴̏ẗ̶̮͔́̇s̴̱͆
    ̴͙̚ṃ̴͐͐ͅō̷̹̈́r̵̪̦̚e̷̛̦ ̵̻̰͒d̵̖̩̅ị̷̎͘f̵̎͜f̵̼͖̉̈i̷̪̗̋c̸̢̩͋ū̷͈l̴͍̃͒t̷͍̏ ̴͓͖̂͝a̵̟̞̓s̵̪̖̈ ̵̦̪̈́͂i̶̺̒t̶̛̫̾
    ̴͖̽c̶̹͂̾ò̵̹̈n̸͕̭͑t̷͔̆i̶̥̎ǹ̸̳ṵ̷̹̇̽e̶͈̋͛s̸͖̭͘.̷̨̹̑̚
    ̸͍̀̚
    ̸̞̄T̵̩̀̍h̵͕̃̋ͅě̶̲͉ ̵͓̂̅t̴̝̜́̿ê̷̙͍s̸͚͚̽t̷͕͐͘ ̴̠̅i̴̺͛s̷̲̓̚ ̴̛̱͝u̷̖͉̽̈ś̵̪e̸̘͒̊d̵̗̆̚ ̶̳̜̕̚ṭ̸̛ȯ̸̡͚́
    ̶͇̌m̵͖͒e̴͔̔̄a̷͔̎s̶̫͉̅̓u̴̞̼̓̓r̷͚͍͂e̴̝͚̎̔ ̷̧͙͂́a̷͍̾ͅ ̴͓̓s̴͇̈́͗t̵̪̜̊ṷ̷͛d̸̼͆ë̸̻̲̚n̷̹̲̑̾t̸̞͊͘'̴͕͛̑ͅs̴̢̢̾͝
    ̷̧͍̋ä̵̯́ę̶̺͑r̷̛̩͚̾o̶̪̊͝b̴͕͚̂͝i̷̹̽c̵̨̔ ̴̧͖̌c̵̮͔͛̈a̶̼͊̉p̷͖͆͌a̶̧̭̓c̵̳̣͝ḭ̷̛ṯ̷̨͗y̷͇̲͋ ̸̡͓͋̾a̴̹̙͠s̵̞̉̇
    ̵̝̳̉́p̸̬̳̌͝à̷̺̘r̸̳̭̒͘t̴̛͙̱͒ ̶̦͐ȍ̴̯̤f̵̼̤͝ ̴̨̨͐̿t̷̲̠̽h̷͙̤̍̀ë̴͔
    ̷̪̼͠F̵͈̱̈i̵̬̋t̶͙͚̎͘ñ̷̳̩̕ě̵̼̹s̸̛͎͕s̷̰̗̏Ǵ̷̮r̶̯͑a̶͍͒m̴̙͐͜
    ̵̖͐à̴͉̟ŝ̷̫͖̏s̴͖̍e̷̛̘̭͋s̴̢̰̒s̴̛̺̈m̵̤̖͂e̸̟̔̕͜n̶̹̣̚t̶͈̎͘.̶͎̑̕ ̷̰̠̒Š̸͓t̵̙̑̚ù̵̠͘͜ḍ̶͔͐ę̷̦̂ṋ̸͎͊͝t̶̠́̂ş̵̽̑
    ̸̺̄̒ṟ̶̬̉̅ṳ̸͊̚ṇ̷͝͝ ̷̯͇̃͝b̷̺̣͛a̴̢̳͊͋c̷̤̔k̵̢̘̑ ̵̛͉̫̕ḁ̵̑̋n̷͔̯͂d̸̬͠ ̴̪̺͝f̶̩̪̆͛o̷̧͈͋r̴̢͓͘t̵͚͑h̵̛̩͉͗ ̶̱͕̋̋ả̷̞s̴̲̃
    ̸̠͉̇̉m̵̳͒͝a̸̭̍͜n̷̙͌y̴̱̐̀ ̸͎̜̀̆t̶̙͖͐ì̸͕m̴̩̒̽e̶̱̎s̶̺̒͊ ̵̟͗̎a̷͔͘ṡ̸̘͕ ̸̤͂̀ť̸̡ȟ̶͙̲ḛ̷̖̈́̈y̵̯̳͒͝ ̷̟̄c̶̪͛a̵̲̋̍n̵̺̜̄,̴̭̉
    ̵̱̽ẻ̵̡͝ā̶̦͒c̶̥̫̅̂h̵̦̎ ̶͚̈́̀l̵̲̤̑̍a̴̝̅p̵̹͍̊̽ ̸̱̈s̷̍̆͜i̸̖̟̿͠ġ̷̢n̸̡̥̈́a̷̢̾̎l̵̝̼̍e̶̫̻̒d̸̡̽ͅ ̴͈͇̚ḅ̵̿̊y̶̝͇̒̄ ̷͇̈̅ả̵͔̦̈́
    ̸̫͠͝ḅ̶̘̏̓ḛ̵͂e̶̱̮͒p̴͙̉ ̷͍̊s̵̛͎̲͒o̴̦̼͋u̴̥̞͠n̶̞͚͗d̷̻̟͝.̸̲͒͜ ̴̲͝T̴̲͝ȟ̷̞͓͠ȇ̷̬̲̉ ̸̨̓̎t̸͓͝͝e̸̜͎͐̉s̷͚̭͐t̸̟̱̍̑
    ̵̲͚̃̀g̶̲͗ë̷̘̞́͛t̵̗̣͠ ̸͒͜p̵̳͂ṟ̷̡̍o̴̰͖͂̋g̸̞͆ŗ̸̖͌͘è̵̗s̴̞̮̑s̴̬͑i̶͓͝v̴̡͖̇ę̴̾̅l̶̤̯͌y̸̛̜̬͋
    ̸̣̹̅f̴̼͍̔̓a̵͇̎̈́s̵̱̃t̵̮͒̍e̷̬͋̈́r̴̟̲̉̑ ̷̦͙̉͒a̶̘̽̅s̴̢̗̓ ̷̩̽i̵̪̹͛t̴̲̠͗ ̷̲̅c̵̡̼̽o̸͎̺͆ń̴̪̀ṯ̸̆͗ì̶̫̒n̴͓̩̄u̷̹͐̈e̴̲̱̚̕ṡ̸̺
    ̴̝̍͝u̷͎͘n̵̬͎̈t̸̙̎ͅi̶̳̎l̸̗̯̈́ ̷̫̯̌t̸̥̿h̶̡̏ȇ̵̛̪ͅ ̵̨̆ṡ̸͜t̶̼̎u̸͎͂̒d̵͓̾ẻ̵̩͍n̴͉̓ť̵͉̱͋
    ̸̧̱̓r̷̭͙̚e̶͓͑ạ̴̓̈́c̴͕̔̕ĥ̶̝̰̋ę̷͋s̵̘̭̚ ̷̢̮͗̓t̸̯̊͌h̶͔͓̄e̸̠͊̉ì̴̹ͅr̶̞͍͋ ̶͍̺͠m̸̟͈͊́a̶̞̤̅x̵̩͘ ̴͇͑̎l̵͎̎ḁ̶̋͝ͅp̴͓̪̚
    ̸̫̩͆͒s̵̥͇̈́c̶̝̩̈́o̷̟͎͑r̴̝̂̓e̸̺̎̽.̴̱͍̋̏
    ̴̪͉̓̑
    ̷̧̤͌T̸̞̟̀̕ẖ̴̀͒e̵̥͘ ̷͇͇̓͝P̷͖̰̑Ặ̷C̵͈̿E̷̫͙̋͊R̶̛̞ ̴̝̓̔Ṯ̵̐̽ę̴̻̀s̸͉̏t̸̫͝ ̷͙̘͛͠s̴͖̟̈́c̴̥̹̅o̷̖̹͋̊r̷̼̽é̶͍̇
    ̷̡̨̈́i̸͈̘͛͝s̵͈͍̀ ̷̟̓c̸̡͓̃o̵̭͆m̸͖̻͠b̸̜̌ĭ̶͈ṇ̴̡̋̂e̶͇̱͗̔ḋ̵͍͕ ̶̧̔̂i̷͍̱̾̈́n̸͔͘͘ͅ ̶̙̤̿ț̸̨̛̈́h̷̪̳͂̈e̷̛̻̔ͅ
    ̵̗̬̉F̴͇̫̋ï̴̻̹t̶͔͙̑̑n̷̝̩͝ḛ̴̡́s̵̺̼͆s̶̚͜G̶̺͖̓r̶͉͠a̵͚̋̆m̴̩̳̅̀ ̸͖̯͆s̴͚̘̿̃ò̷̮̻̽f̶͇̣͗t̶̨͈̀̅ẃ̸͖a̶͉͇͗̋r̸̫̰̈e̸͙͑̽
    ̵͚̬̎̾w̷̬͒̇i̷͖̾͒t̶̛̹ͅḩ̵̗̈́ ̶͈̬́̀s̷̜̥̿̀c̸̦̎͗ő̷̻ṛ̴̍e̶̬̣̋͝ṣ̷̘̔́ ̸̟̦̂̊f̵̧̼̓͒o̵͉̅͘r̷̬̍̀
    ̸̤̚m̶̜̱̾ŭ̵͇̥ś̸̢ć̴͚͊ṳ̴̇͝l̴͔̼̓ȃ̷͔͕r̴̡̻̅ ̷̨̩̑s̵͔̎̕t̷̺͎͛r̴̖͎͠e̴̻̕n̵̛̠͕̉ģ̷̆̋t̴̻̊h̷̥̀,̸̢̽͠
    ̸͙̼̓̅e̷̻̓̅n̸̲̾̋d̵̬͉̽̋ǘ̶̱̖̈́ŕ̸̯̰͝á̸̮̼n̴̪̑̀c̶̮͝e̸̼̯͛̚,̷̝̍͂
    ̸̱͝f̵̘̻̽l̵̨̅͗e̸̘͎͌͌x̶̖́͘ì̴̝̌b̵̗̱͆̑ȋ̸͖ͅl̷͉̜̑i̸̦̮̐̚t̷̢͔̏ỵ̴̹̄̈ ̸̟͋ȧ̶̗͜ṅ̶̝d̴̡̈̒ ̴̖̚b̶͚̃̈́ō̵̤̈́ͅd̸̜͐̚y̸̢͔̓
    ̸̨̘͂c̴̬͐̎ö̸͕̗m̶̹͌p̴̹̒̉o̶̟̿̂s̵͖̐i̶̤̍̐͜t̴̫́̏i̴̤̭͑ö̷̙́̕ń̴̬̰̔ ̴͚̔ẗ̶̳́̈́o̵͚͇͑
    ̸̺̝́̚d̶̼͈̉ȩ̸̻̒̕t̵̟̙̽͊e̵̲͆r̴̻̂̔m̶̞̖̋i̷͙̞͑n̶̦̋͠ë̷̡́͝ ̴̖͆ͅw̵̪̭͌͐ḧ̵͙́͛ę̸̙̌ẗ̸̡̺ḩ̵͉̒͛e̸̮̥͝r̸̠̻̓͠ ̸̦̺͘a̸͆ͅ
    ̵͙̝͌s̶͎̭̀t̴̙̍ü̴̫͝d̷̘̯̑e̵̹̣͌ņ̸̈́̈t̵͖̉͆ ̵̻̬̾i̶͔̾̅͜s̸̠̦̾̑ ̷͓͍͂i̵̪̙͗ņ̶̏͆ ̵͔̖̏t̵̘̭͂h̸̞̄ẽ̵̻͙̌
    ̶̧̼̈́H̷̪̀͘e̷͎̚͜a̴̒̈́͜ĺ̸͈̙̓t̷͚̙̊h̵̡̘͗y̸͓̼͠ ̴͓̇F̶̣̒ì̷̗̘t̸̬͂͝n̸͔̾́ê̶͔͜ş̵͛͊s̴͎̭͒͗ ̴̟͝Z̴̰̍͗ŏ̶̡ͅṇ̷͚̋e̷͙͊™̸̺̦̂̂
    ̸̡̆͆͜o̴̹̎r̵̫̂ ̷̭̺̿t̷͔̿͝ḧ̵͈ę̸̫̒̅ ̷̼̒N̵̲̪̚e̴̲̻̎ë̷͉̦́͠d̷͉̺̀ŝ̷̻͕
    ̸̝͂̕I̷̻̖͑m̶̗̑̚p̶̱̅r̸̤̮̅ơ̵͇̈́v̷̰̈́ě̷͉m̸̡̆e̵̢̎n̴̟̪͂ṱ̵͆̒ ̸͈̗̈́Ẕ̵̘̉̅ò̶͎n̶̥̓e̸̢̛͈™̷̭̕͜.̷̘͑̀T̶̬̰̊͐h̷̘̍̈e̸̮̬͆̍
    ̶̤͋F̸̹̰͊i̷̫̣͒t̷̛̺̠̚ń̴̮è̴̫͝s̵̖̈́s̶̞̉G̶͙̔͛r̴̪̍ą̴̀m̴͓̀̃ ̵͓̈P̸̡̔̊Ä̷̼́C̵͈͗E̸̱̊̌ͅR̸̢͋ ̴̪̋Ṱ̶̓͜e̵͔̓s̴̼͊͐t̵̫̀
    ̷̳͓̌͠i̷͖̻͊̋s̸͙͝ ̸̛̬̗ą̴͇̾̅ ̶̘̹͂̒m̸̟̋u̵͇̬͒͝l̸̹̏ṭ̴̙̓̒i̴̛͈̮s̵̱͉̆̇t̸̫̖͗a̷͔͔̚ģ̸̺̏̈́ḙ̵̡͌̑
    ̸̹̾a̵̬͑͂e̶̱͂r̴̪̳̾̈́ǫ̶̉b̴̮̜͂̀į̵̓̈́c̵̨̜̽ ̷̻̈́̒c̴̱̄a̴̦̓p̶͖̍a̴͈͝ć̴̗̥i̸̓͝ͅț̴̋̆y̴̯͘ͅ ̸̘͆̽t̵̛͖̀ĕ̸̻͈s̸̞̀t̶̬̻̽̅
    ̷̲̃t̴̛̳͘h̴̭̏͊͜ā̷͍ṯ̸̕ͅ ̷̙̲̀͌p̷̮̪̈ŕ̵̞̦̆ỏ̸̲̮͌ǧ̸̥r̷̟̅͒e̷͓͝s̴̟͛s̶̬͌ȉ̵͍̘v̴̡̦̈̌e̶̺̙̒ľ̵̨̳ỹ̷̞́ ̷͉̈͂g̸̱͐ȩ̴̏ẗ̶̮͔́̇s̴̱͆
    ̴͙̚ṃ̴͐͐ͅō̷̹̈́r̵̪̦̚e̷̛̦ ̵̻̰͒d̵̖̩̅ị̷̎͘f̵̎͜f̵̼͖̉̈i̷̪̗̋c̸̢̩͋ū̷͈l̴͍̃͒t̷͍̏ ̴͓͖̂͝a̵̟̞̓s̵̪̖̈ ̵̦̪̈́͂i̶̺̒t̶̛̫̾
    ̴͖̽c̶̹͂̾ò̵̹̈n̸͕̭͑t̷͔̆i̶̥̎ǹ̸̳ṵ̷̹̇̽e̶͈̋͛s̸͖̭͘.̷̨̹̑̚
    ̸͍̀̚
    ̸̞̄T̵̩̀̍h̵͕̃̋ͅě̶̲͉ ̵͓̂̅t̴̝̜́̿ê̷̙͍s̸͚͚̽t̷͕͐͘ ̴̠̅i̴̺͛s̷̲̓̚ ̴̛̱͝u̷̖͉̽̈ś̵̪e̸̘͒̊d̵̗̆̚ ̶̳̜̕̚ṭ̸̛ȯ̸̡͚́
    ̶͇̌m̵͖͒e̴͔̔̄a̷͔̎s̶̫͉̅̓u̴̞̼̓̓r̷͚͍͂e̴̝͚̎̔ ̷̧͙͂́a̷͍̾ͅ ̴͓̓s̴͇̈́͗t̵̪̜̊ṷ̷͛d̸̼͆ë̸̻̲̚n̷̹̲̑̾t̸̞͊͘'̴͕͛̑ͅs̴̢̢̾͝
    ̷̧͍̋ä̵̯́ę̶̺͑r̷̛̩͚̾o̶̪̊͝b̴͕͚̂͝i̷̹̽c̵̨̔ ̴̧͖̌c̵̮͔͛̈a̶̼͊̉p̷͖͆͌a̶̧̭̓c̵̳̣͝ḭ̷̛ṯ̷̨͗y̷͇̲͋ ̸̡͓͋̾a̴̹̙͠s̵̞̉̇
    ̵̝̳̉́p̸̬̳̌͝à̷̺̘r̸̳̭̒͘t̴̛͙̱͒ ̶̦͐ȍ̴̯̤f̵̼̤͝ ̴̨̨͐̿t̷̲̠̽h̷͙̤̍̀ë̴͔
    ̷̪̼͠F̵͈̱̈i̵̬̋t̶͙͚̎͘ñ̷̳̩̕ě̵̼̹s̸̛͎͕s̷̰̗̏Ǵ̷̮r̶̯͑a̶͍͒m̴̙͐͜
    ̵̖͐à̴͉̟ŝ̷̫͖̏s̴͖̍e̷̛̘̭͋s̴̢̰̒s̴̛̺̈m̵̤̖͂e̸̟̔̕͜n̶̹̣̚t̶͈̎͘.̶͎̑̕ ̷̰̠̒Š̸͓t̵̙̑̚ù̵̠͘͜ḍ̶͔͐ę̷̦̂ṋ̸͎͊͝t̶̠́̂ş̵̽̑
    ̸̺̄̒ṟ̶̬̉̅ṳ̸͊̚ṇ̷͝͝ ̷̯͇̃͝b̷̺̣͛a̴̢̳͊͋c̷̤̔k̵̢̘̑ ̵̛͉̫̕ḁ̵̑̋n̷͔̯͂d̸̬͠ ̴̪̺͝f̶̩̪̆͛o̷̧͈͋r̴̢͓͘t̵͚͑h̵̛̩͉͗ ̶̱͕̋̋ả̷̞s̴̲̃
    ̸̠͉̇̉m̵̳͒͝a̸̭̍͜n̷̙͌y̴̱̐̀ ̸͎̜̀̆t̶̙͖͐ì̸͕m̴̩̒̽e̶̱̎s̶̺̒͊ ̵̟͗̎a̷͔͘ṡ̸̘͕ ̸̤͂̀ť̸̡ȟ̶͙̲ḛ̷̖̈́̈y̵̯̳͒͝ ̷̟̄c̶̪͛a̵̲̋̍n̵̺̜̄,̴̭̉
    ̵̱̽ẻ̵̡͝ā̶̦͒c̶̥̫̅̂h̵̦̎ ̶͚̈́̀l̵̲̤̑̍a̴̝̅p̵̹͍̊̽ ̸̱̈s̷̍̆͜i̸̖̟̿͠ġ̷̢n̸̡̥̈́a̷̢̾̎l̵̝̼̍e̶̫̻̒d̸̡̽ͅ ̴͈͇̚ḅ̵̿̊y̶̝͇̒̄ ̷͇̈̅ả̵͔̦̈́
    ̸̫͠͝ḅ̶̘̏̓ḛ̵͂e̶̱̮͒p̴͙̉ ̷͍̊s̵̛͎̲͒o̴̦̼͋u̴̥̞͠n̶̞͚͗d̷̻̟͝.̸̲͒͜ ̴̲͝T̴̲͝ȟ̷̞͓͠ȇ̷̬̲̉ ̸̨̓̎t̸͓͝͝e̸̜͎͐̉s̷͚̭͐t̸̟̱̍̑
    ̵̲͚̃̀g̶̲͗ë̷̘̞́͛t̵̗̣͠ ̸͒͜p̵̳͂ṟ̷̡̍o̴̰͖͂̋g̸̞͆ŗ̸̖͌͘è̵̗s̴̞̮̑s̴̬͑i̶͓͝v̴̡͖̇ę̴̾̅l̶̤̯͌y̸̛̜̬͋
    ̸̣̹̅f̴̼͍̔̓a̵͇̎̈́s̵̱̃t̵̮͒̍e̷̬͋̈́r̴̟̲̉̑ ̷̦͙̉͒a̶̘̽̅s̴̢̗̓ ̷̩̽i̵̪̹͛t̴̲̠͗ ̷̲̅c̵̡̼̽o̸͎̺͆ń̴̪̀ṯ̸̆͗ì̶̫̒n̴͓̩̄u̷̹͐̈e̴̲̱̚̕ṡ̸̺
    ̴̝̍͝u̷͎͘n̵̬͎̈t̸̙̎ͅi̶̳̎l̸̗̯̈́ ̷̫̯̌t̸̥̿h̶̡̏ȇ̵̛̪ͅ ̵̨̆ṡ̸͜t̶̼̎u̸͎͂̒d̵͓̾ẻ̵̩͍n̴͉̓ť̵͉̱͋
    ̸̧̱̓r̷̭͙̚e̶͓͑ạ̴̓̈́c̴͕̔̕ĥ̶̝̰̋ę̷͋s̵̘̭̚ ̷̢̮͗̓t̸̯̊͌h̶͔͓̄e̸̠͊̉ì̴̹ͅr̶̞͍͋ ̶͍̺͠m̸̟͈͊́a̶̞̤̅x̵̩͘ ̴͇͑̎l̵͎̎ḁ̶̋͝ͅp̴͓̪̚
    ̸̫̩͆͒s̵̥͇̈́c̶̝̩̈́o̷̟͎͑r̴̝̂̓e̸̺̎̽.̴̱͍̋̏
    ̴̪͉̓̑
    ̷̧̤͌T̸̞̟̀̕ẖ̴̀͒e̵̥͘ ̷͇͇̓͝P̷͖̰̑Ặ̷C̵͈̿E̷̫͙̋͊R̶̛̞ ̴̝̓̔Ṯ̵̐̽ę̴̻̀s̸͉̏t̸̫͝ ̷͙̘͛͠s̴͖̟̈́c̴̥̹̅o̷̖̹͋̊r̷̼̽é̶͍̇
    ̷̡̨̈́i̸͈̘͛͝s̵͈͍̀ ̷̟̓c̸̡͓̃o̵̭͆m̸͖̻͠b̸̜̌ĭ̶͈ṇ̴̡̋̂e̶͇̱͗̔ḋ̵͍͕ ̶̧̔̂i̷͍̱̾̈́n̸͔͘͘ͅ ̶̙̤̿ț̸̨̛̈́h̷̪̳͂̈e̷̛̻̔ͅ
    ̵̗̬̉F̴͇̫̋ï̴̻̹t̶͔͙̑̑n̷̝̩͝ḛ̴̡́s̵̺̼͆s̶̚͜G̶̺͖̓r̶͉͠a̵͚̋̆m̴̩̳̅̀ ̸͖̯͆s̴͚̘̿̃ò̷̮̻̽f̶͇̣͗t̶̨͈̀̅ẃ̸͖a̶͉͇͗̋r̸̫̰̈e̸͙͑̽
    ̵͚̬̎̾w̷̬͒̇i̷͖̾͒t̶̛̹ͅḩ̵̗̈́ ̶͈̬́̀s̷̜̥̿̀c̸̦̎͗ő̷̻ṛ̴̍e̶̬̣̋͝ṣ̷̘̔́ ̸̟̦̂̊f̵̧̼̓͒o̵͉̅͘r̷̬̍̀
    ̸̤̚m̶̜̱̾ŭ̵͇̥ś̸̢ć̴͚͊ṳ̴̇͝l̴͔̼̓ȃ̷͔͕r̴̡̻̅ ̷̨̩̑s̵͔̎̕t̷̺͎͛r̴̖͎͠e̴̻̕n̵̛̠͕̉ģ̷̆̋t̴̻̊h̷̥̀,̸̢̽͠
    ̸͙̼̓̅e̷̻̓̅n̸̲̾̋d̵̬͉̽̋ǘ̶̱̖̈́ŕ̸̯̰͝á̸̮̼n̴̪̑̀c̶̮͝e̸̼̯͛̚,̷̝̍͂
    ̸̱͝f̵̘̻̽l̵̨̅͗e̸̘͎͌͌x̶̖́͘ì̴̝̌b̵̗̱͆̑ȋ̸͖ͅl̷͉̜̑i̸̦̮̐̚t̷̢͔̏ỵ̴̹̄̈ ̸̟͋ȧ̶̗͜ṅ̶̝d̴̡̈̒ ̴̖̚b̶͚̃̈́ō̵̤̈́ͅd̸̜͐̚y̸̢͔̓
    ̸̨̘͂c̴̬͐̎ö̸͕̗m̶̹͌p̴̹̒̉o̶̟̿̂s̵͖̐i̶̤̍̐͜t̴̫́̏i̴̤̭͑ö̷̙́̕ń̴̬̰̔ ̴͚̔ẗ̶̳́̈́o̵͚͇͑
    ̸̺̝́̚d̶̼͈̉ȩ̸̻̒̕t̵̟̙̽͊e̵̲͆r̴̻̂̔m̶̞̖̋i̷͙̞͑n̶̦̋͠ë̷̡́͝ ̴̖͆ͅw̵̪̭͌͐ḧ̵͙́͛ę̸̙̌ẗ̸̡̺ḩ̵͉̒͛e̸̮̥͝r̸̠̻̓͠ ̸̦̺͘a̸͆ͅ
    ̵͙̝͌s̶͎̭̀t̴̙̍ü̴̫͝d̷̘̯̑e̵̹̣͌ņ̸̈́̈t̵͖̉͆ ̵̻̬̾i̶͔̾̅͜s̸̠̦̾̑ ̷͓͍͂i̵̪̙͗ņ̶̏͆ ̵͔̖̏t̵̘̭͂h̸̞̄ẽ̵̻͙̌
    ̶̧̼̈́H̷̪̀͘e̷͎̚͜a̴̒̈́͜ĺ̸͈̙̓t̷͚̙̊h̵̡̘͗y̸͓̼͠ ̴͓̇F̶̣̒ì̷̗̘t̸̬͂͝n̸͔̾́ê̶͔͜ş̵͛͊s̴͎̭͒͗ ̴̟͝Z̴̰̍͗ŏ̶̡ͅṇ̷͚̋e̷͙͊™̸̺̦̂̂
    ̸̡̆͆͜o̴̹̎r̵̫̂ ̷̭̺̿t̷͔̿͝ḧ̵͈ę̸̫̒̅ ̷̼̒N̵̲̪̚e̴̲̻̎ë̷͉̦́͠d̷͉̺̀ŝ̷̻͕
    ̸̝͂̕I̷̻̖͑m̶̗̑̚p̶̱̅r̸̤̮̅ơ̵͇̈́v̷̰̈́ě̷͉m̸̡̆e̵̢̎n̴̟̪͂ṱ̵͆̒ ̸͈̗̈́Ẕ̵̘̉̅ò̶͎n̶̥̓e̸̢̛͈™̷̭̕͜.̷̘͑̀T̶̬̰̊͐h̷̘̍̈e̸̮̬͆̍
    ̶̤͋F̸̹̰͊i̷̫̣͒t̷̛̺̠̚ń̴̮è̴̫͝s̵̖̈́s̶̞̉G̶͙̔͛r̴̪̍ą̴̀m̴͓̀̃ ̵͓̈P̸̡̔̊Ä̷̼́C̵͈͗E̸̱̊̌ͅR̸̢͋ ̴̪̋Ṱ̶̓͜e̵͔̓s̴̼͊͐t̵̫̀
    ̷̳͓̌͠i̷͖̻͊̋s̸͙͝ ̸̛̬̗ą̴͇̾̅ ̶̘̹͂̒m̸̟̋u̵͇̬͒͝l̸̹̏ṭ̴̙̓̒i̴̛͈̮s̵̱͉̆̇t̸̫̖͗a̷͔͔̚ģ̸̺̏̈́ḙ̵̡͌̑
    ̸̹̾a̵̬͑͂e̶̱͂r̴̪̳̾̈́ǫ̶̉b̴̮̜͂̀į̵̓̈́c̵̨̜̽ ̷̻̈́̒c̴̱̄a̴̦̓p̶͖̍a̴͈͝ć̴̗̥i̸̓͝ͅț̴̋̆y̴̯͘ͅ ̸̘͆̽t̵̛͖̀ĕ̸̻͈s̸̞̀t̶̬̻̽̅
    ̷̲̃t̴̛̳͘h̴̭̏͊͜ā̷͍ṯ̸̕ͅ ̷̙̲̀͌p̷̮̪̈ŕ̵̞̦̆ỏ̸̲̮͌ǧ̸̥r̷̟̅͒e̷͓͝s̴̟͛s̶̬͌ȉ̵͍̘v̴̡̦̈̌e̶̺̙̒ľ̵̨̳ỹ̷̞́ ̷͉̈͂g̸̱͐ȩ̴̏ẗ̶̮͔́̇s̴̱͆
    ̴͙̚ṃ̴͐͐ͅō̷̹̈́r̵̪̦̚e̷̛̦ ̵̻̰͒d̵̖̩̅ị̷̎͘f̵̎͜f̵̼͖̉̈i̷̪̗̋c̸̢̩͋ū̷͈l̴͍̃͒t̷͍̏ ̴͓͖̂͝a̵̟̞̓s̵̪̖̈ ̵̦̪̈́͂i̶̺̒t̶̛̫̾
    ̴͖̽c̶̹͂̾ò̵̹̈n̸͕̭͑t̷͔̆i̶̥̎ǹ̸̳ṵ̷̹̇̽e̶͈̋͛s̸͖̭͘.̷̨̹̑̚
    ̸͍̀̚
    ̸̞̄T̵̩̀̍h̵͕̃̋ͅě̶̲͉ ̵͓̂̅t̴̝̜́̿ê̷̙͍s̸͚͚̽t̷͕͐͘ ̴̠̅i̴̺͛s̷̲̓̚ ̴̛̱͝u̷̖͉̽̈ś̵̪e̸̘͒̊d̵̗̆̚ ̶̳̜̕̚ṭ̸̛ȯ̸̡͚́
    ̶͇̌m̵͖͒e̴͔̔̄a̷͔̎s̶̫͉̅̓u̴̞̼̓̓r̷͚͍͂e̴̝͚̎̔ ̷̧͙͂́a̷͍̾ͅ ̴͓̓s̴͇̈́͗t̵̪̜̊ṷ̷͛d̸̼͆ë̸̻̲̚n̷̹̲̑̾t̸̞͊͘'̴͕͛̑ͅs̴̢̢̾͝
    ̷̧͍̋ä̵̯́ę̶̺͑r̷̛̩͚̾o̶̪̊͝b̴͕͚̂͝i̷̹̽c̵̨̔ ̴̧͖̌c̵̮͔͛̈a̶̼͊̉p̷͖͆͌a̶̧̭̓c̵̳̣͝ḭ̷̛ṯ̷̨͗y̷͇̲͋ ̸̡͓͋̾a̴̹̙͠s̵̞̉̇
    ̵̝̳̉́p̸̬̳̌͝à̷̺̘r̸̳̭̒͘t̴̛͙̱͒ ̶̦͐ȍ̴̯̤f̵̼̤͝ ̴̨̨͐̿t̷̲̠̽h̷͙̤̍̀ë̴͔
    ̷̪̼͠F̵͈̱̈i̵̬̋t̶͙͚̎͘ñ̷̳̩̕ě̵̼̹s̸̛͎͕s̷̰̗̏Ǵ̷̮r̶̯͑a̶͍͒m̴̙͐͜
    ̵̖͐à̴͉̟ŝ̷̫͖̏s̴͖̍e̷̛̘̭͋s̴̢̰̒s̴̛̺̈m̵̤̖͂e̸̟̔̕͜n̶̹̣̚t̶͈̎͘.̶͎̑̕ ̷̰̠̒Š̸͓t̵̙̑̚ù̵̠͘͜ḍ̶͔͐ę̷̦̂ṋ̸͎͊͝t̶̠́̂ş̵̽̑
    ̸̺̄̒ṟ̶̬̉̅ṳ̸͊̚ṇ̷͝͝ ̷̯͇̃͝b̷̺̣͛a̴̢̳͊͋c̷̤̔k̵̢̘̑ ̵̛͉̫̕ḁ̵̑̋n̷͔̯͂d̸̬͠ ̴̪̺͝f̶̩̪̆͛o̷̧͈͋r̴̢͓͘t̵͚͑h̵̛̩͉͗ ̶̱͕̋̋ả̷̞s̴̲̃
    ̸̠͉̇̉m̵̳͒͝a̸̭̍͜n̷̙͌y̴̱̐̀ ̸͎̜̀̆t̶̙͖͐ì̸͕m̴̩̒̽e̶̱̎s̶̺̒͊ ̵̟͗̎a̷͔͘ṡ̸̘͕ ̸̤͂̀ť̸̡ȟ̶͙̲ḛ̷̖̈́̈y̵̯̳͒͝ ̷̟̄c̶̪͛a̵̲̋̍n̵̺̜̄,̴̭̉
    ̵̱̽ẻ̵̡͝ā̶̦͒c̶̥̫̅̂h̵̦̎ ̶͚̈́̀l̵̲̤̑̍a̴̝̅p̵̹͍̊̽ ̸̱̈s̷̍̆͜i̸̖̟̿͠ġ̷̢n̸̡̥̈́a̷̢̾̎l̵̝̼̍e̶̫̻̒d̸̡̽ͅ ̴͈͇̚ḅ̵̿̊y̶̝͇̒̄ ̷͇̈̅ả̵͔̦̈́
    ̸̫͠͝ḅ̶̘̏̓ḛ̵͂e̶̱̮͒p̴͙̉ ̷͍̊s̵̛͎̲͒o̴̦̼͋u̴̥̞͠n̶̞͚͗d̷̻̟͝.̸̲͒͜ ̴̲͝T̴̲͝ȟ̷̞͓͠ȇ̷̬̲̉ ̸̨̓̎t̸͓͝͝e̸̜͎͐̉s̷͚̭͐t̸̟̱̍̑
    ̵̲͚̃̀g̶̲͗ë̷̘̞́͛t̵̗̣͠ ̸͒͜p̵̳͂ṟ̷̡̍o̴̰͖͂̋g̸̞͆ŗ̸̖͌͘è̵̗s̴̞̮̑s̴̬͑i̶͓͝v̴̡͖̇ę̴̾̅l̶̤̯͌y̸̛̜̬͋
    ̸̣̹̅f̴̼͍̔̓a̵͇̎̈́s̵̱̃t̵̮͒̍e̷̬͋̈́r̴̟̲̉̑ ̷̦͙̉͒a̶̘̽̅s̴̢̗̓ ̷̩̽i̵̪̹͛t̴̲̠͗ ̷̲̅c̵̡̼̽o̸͎̺͆ń̴̪̀ṯ̸̆͗ì̶̫̒n̴͓̩̄u̷̹͐̈e̴̲̱̚̕ṡ̸̺
    ̴̝̍͝u̷͎͘n̵̬͎̈t̸̙̎ͅi̶̳̎l̸̗̯̈́ ̷̫̯̌t̸̥̿h̶̡̏ȇ̵̛̪ͅ ̵̨̆ṡ̸͜t̶̼̎u̸͎͂̒d̵͓̾ẻ̵̩͍n̴͉̓ť̵͉̱͋
    ̸̧̱̓r̷̭͙̚e̶͓͑ạ̴̓̈́c̴͕̔̕ĥ̶̝̰̋ę̷͋s̵̘̭̚ ̷̢̮͗̓t̸̯̊͌h̶͔͓̄e̸̠͊̉ì̴̹ͅr̶̞͍͋ ̶͍̺͠m̸̟͈͊́a̶̞̤̅x̵̩͘ ̴͇͑̎l̵͎̎ḁ̶̋͝ͅp̴͓̪̚
    ̸̫̩͆͒s̵̥͇̈́c̶̝̩̈́o̷̟͎͑r̴̝̂̓e̸̺̎̽.̴̱͍̋̏
    ̴̪͉̓̑
    ̷̧̤͌T̸̞̟̀̕ẖ̴̀͒e̵̥͘ ̷͇͇̓͝P̷͖̰̑Ặ̷C̵͈̿E̷̫͙̋͊R̶̛̞ ̴̝̓̔Ṯ̵̐̽ę̴̻̀s̸͉̏t̸̫͝ ̷͙̘͛͠s̴͖̟̈́c̴̥̹̅o̷̖̹͋̊r̷̼̽é̶͍̇
    ̷̡̨̈́i̸͈̘͛͝s̵͈͍̀ ̷̟̓c̸̡͓̃o̵̭͆m̸͖̻͠b̸̜̌ĭ̶͈ṇ̴̡̋̂e̶͇̱͗̔ḋ̵͍͕ ̶̧̔̂i̷͍̱̾̈́n̸͔͘͘ͅ ̶̙̤̿ț̸̨̛̈́h̷̪̳͂̈e̷̛̻̔ͅ
    ̵̗̬̉F̴͇̫̋ï̴̻̹t̶͔͙̑̑n̷̝̩͝ḛ̴̡́s̵̺̼͆s̶̚͜G̶̺͖̓r̶͉͠a̵͚̋̆m̴̩̳̅̀ ̸͖̯͆s̴͚̘̿̃ò̷̮̻̽f̶͇̣͗t̶̨͈̀̅ẃ̸͖a̶͉͇͗̋r̸̫̰̈e̸͙͑̽
    ̵͚̬̎̾w̷̬͒̇i̷͖̾͒t̶̛̹ͅḩ̵̗̈́ ̶͈̬́̀s̷̜̥̿̀c̸̦̎͗ő̷̻ṛ̴̍e̶̬̣̋͝ṣ̷̘̔́ ̸̟̦̂̊f̵̧̼̓͒o̵͉̅͘r̷̬̍̀
    ̸̤̚m̶̜̱̾ŭ̵͇̥ś̸̢ć̴͚͊ṳ̴̇͝l̴͔̼̓ȃ̷͔͕r̴̡̻̅ ̷̨̩̑s̵͔̎̕t̷̺͎͛r̴̖͎͠e̴̻̕n̵̛̠͕̉ģ̷̆̋t̴̻̊h̷̥̀,̸̢̽͠
    ̸͙̼̓̅e̷̻̓̅n̸̲̾̋d̵̬͉̽̋ǘ̶̱̖̈́ŕ̸̯̰͝á̸̮̼n̴̪̑̀c̶̮͝e̸̼̯͛̚,̷̝̍͂
    ̸̱͝f̵̘̻̽l̵̨̅͗e̸̘͎͌͌x̶̖́͘ì̴̝̌b̵̗̱͆̑ȋ̸͖ͅl̷͉̜̑i̸̦̮̐̚t̷̢͔̏ỵ̴̹̄̈ ̸̟͋ȧ̶̗͜ṅ̶̝d̴̡̈̒ ̴̖̚b̶͚̃̈́ō̵̤̈́ͅd̸̜͐̚y̸̢͔̓
    ̸̨̘͂c̴̬͐̎ö̸͕̗m̶̹͌p̴̹̒̉o̶̟̿̂s̵͖̐i̶̤̍̐͜t̴̫́̏i̴̤̭͑ö̷̙́̕ń̴̬̰̔ ̴͚̔ẗ̶̳́̈́o̵͚͇͑
    ̸̺̝́̚d̶̼͈̉ȩ̸̻̒̕t̵̟̙̽͊e̵̲͆r̴̻̂̔m̶̞̖̋i̷͙̞͑n̶̦̋͠ë̷̡́͝ ̴̖͆ͅw̵̪̭͌͐ḧ̵͙́͛ę̸̙̌ẗ̸̡̺ḩ̵͉̒͛e̸̮̥͝r̸̠̻̓͠ ̸̦̺͘a̸͆ͅ
    ̵͙̝͌s̶͎̭̀t̴̙̍ü̴̫͝d̷̘̯̑e̵̹̣͌ņ̸̈́̈t̵͖̉͆ ̵̻̬̾i̶͔̾̅͜s̸̠̦̾̑ ̷͓͍͂i̵̪̙͗ņ̶̏͆ ̵͔̖̏t̵̘̭͂h̸̞̄ẽ̵̻͙̌
    ̶̧̼̈́H̷̪̀͘e̷͎̚͜a̴̒̈́͜ĺ̸͈̙̓t̷͚̙̊h̵̡̘͗y̸͓̼͠ ̴͓̇F̶̣̒ì̷̗̘t̸̬͂͝n̸͔̾́ê̶͔͜ş̵͛͊s̴͎̭͒͗ ̴̟͝Z̴̰̍͗ŏ̶̡ͅṇ̷͚̋e̷͙͊™̸̺̦̂̂
    ̸̡̆͆͜o̴̹̎r̵̫̂ ̷̭̺̿t̷͔̿͝ḧ̵͈ę̸̫̒̅ ̷̼̒N̵̲̪̚e̴̲̻̎ë̷͉̦́͠d̷͉̺̀ŝ̷̻͕
    ̸̝͂̕I̷̻̖͑m̶̗̑̚p̶̱̅r̸̤̮̅ơ̵͇̈́v̷̰̈́ě̷͉m̸̡̆e̵̢̎n̴̟̪͂ṱ̵͆̒ ̸͈̗̈́Ẕ̵̘̉̅ò̶͎n̶̥̓e̸̢̛͈™̷̭̕͜.̷̘͑̀</h1>
</div>

<audio id="nuclear" src="/mp3/nuclear.mp3"> </audio>
<audio id="nuclear1" loop src="/mp3/fitness.mp3"> </audio>