
<div class="minesweeper-container"> 
  <div class="minesweeper-grid"></div>
  <div class="minesweeper-score bg-secondary">
    <div>Flags left: <span id='flags-left'></span></div>
    <div id="result"></div>
  </div>
</div>
<script src="js/minesweeper.js"></script>
