
.minesweeper-container {
    width: auto;
    align-content: center;
    position: relative;
  }
  
.minesweeper-grid {
    height: 400px;
    width: 400px;
    background-color: gray;
    margin-right: 50px;
    margin-top: 20px;
    border: 10px solid darkgrey;
    margin-bottom: 10px;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-auto-rows: 40px;
    border: 100px;    
}

.minesweeper-score {
  width:fit-content;
  margin-left: 25%;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.mine-square {
  font-size: 25px;
  text-align: center;
  font-family: 'Roboto Mono', monospace;

}
.valid {
  height: 40px;
  width: 40px;
  border: 5px solid;
  /* border-color: darkgrey; */
  background-color: #cecab7;
  border-color: #f5f3eb #bab7a9 #bab7a9 #fff9db;
  box-sizing: border-box;
}

.checked {
  height: 40px;
  width: 40px;
  border: 2px solid;
  background-color: #cecab7;
  border-color: #9c998d;
  /* border-color: #f5f3eb #bab7a9 #bab7a9 #fff9db; */

  box-sizing: border-box;
}

.bomb {
  height: 40px;
  width: 40px;
  border: 5px solid;
  background-color: #cecab7;
  border-color: darkgrey;
  /* border-color: #f5f3eb #bab7a9 #bab7a9 #fff9db; */
  box-sizing: border-box;
}

.one {
  color: darkblue;
}

.two {
  color: darkgreen;
}

.three {
  color: darkred;
}

.four{
  color: purple;
}

#result,
#result1{
  margin-top: 5px;
  color: #e76346;
}

.jumbotron{
  position: absolute;
  top: 50%;
  position: relative;
  display:none;
  border-radius: 18px;
  background: #e0e0e0;
  box-shadow: inset 25px 25px 49px #bebebe,
          inset -25px -25px 49px #ffffff;
}

#chaos{
  display:none;
}

.pain{
  size: 60px;
}

#test {
  width: 400px;
  height:400px;
  margin: 0px auto;
}

#playagain1,
#playagain2{
  display: none;
  position:absolute;
   bottom: 50%;
  left: 30%;
  text-align: center;
  background-color: #127af1;
  border-radius: 5%;
}